<!--<div>-->
<!--  <div class="container navItem main">-->
<!--    <a routerLink="/service-connection" routerLinkActive="active">Главная</a>-->
<!--  </div>-->
<!--  <div class="container navItem settings">-->
<!--    <a routerLink="/settings" routerLinkActive="active">Настройки</a>-->
<!--  </div>-->
<!--</div>-->

<div fxLayout="row" fxLayoutAlign="start center" fxFill>
  <div style="height: 48px; width: 10%; border: 1px solid black;" fxLayoutAlign="center center">
    <a routerLink="/service-connection" routerLinkActive="active">Главная</a>
  </div>

  <div style="height: 48px; width: 10%; border: 1px solid black;" fxLayoutAlign="center center">
    <a routerLink="/settings" routerLinkActive="active">Настройки</a>
  </div>
</div>

<router-outlet></router-outlet>
